:root {
    --primary-color: #5856e9;
    --very-white: #f3eef5;
    --component: #e6e4f5;
    --very-like-pink: #fcdae1;
}

.info-sale-order{
    margin: 5px 20px 5px 5px;
    padding: 8px 5px 25px 25px;
    background: linear-gradient(to bottom right, var(--component), #e0e0ec63);
    border-radius: 25px;
    box-shadow: 0px .5px .5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    cursor: pointer;
    transition: all .2s;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
}

.btn:focus{
    outline: 2px solid #b89199;
}

.grid-info-sale-order {
    width: 65%;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.btn-view-sale-order-complete {
    height: 25px;
    width: 60px;
    font-size: 20px;
    padding: 3px 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .3s;

    float: right;
    margin-right: 10px; 
}

.btn-view-sale-order-complete:hover {
    transition: all .3s;
    cursor: pointer;
    font-size: 21px;
}

.info-sale-order div p {
    margin-top: 14px;
}

.info-sale-order div *{
    margin-top: 10px;
}

.col-inp *{
    display: block;
    width: 85%;
    background-color: rgb(247, 239, 239);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    height: 4vh;
}

.col-inp *:focus{
    outline: none;
}

.col-inp *:hover{
    cursor: auto;
}

.info-sale-order h4{
    display: inline-block;
    position: relative;
    margin-left: 2%;
}