
.dashBoard-picking {
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to bottom right, var(--component), #e0e0ec63);
    border-radius: 25px;
    overflow: scroll;
    box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.2);
}

.header-list-pikings{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 4%;
    display: flex;
    justify-content: space-between;
}

.dashBoard-picking h4{
    margin: 4px 8px 8px 3%;
}

.dashBoard-picking::-webkit-scrollbar {
    width: 7px;
    display: none;
}

.dashBoard-picking::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.btn-create-picking {
    background-color: var(--very-like-pink);
    box-shadow: 0px 5px 25px #5856e956;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    bottom: 24px;
    right: 24px;
    font-weight: bold;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
    margin-right: 38%;
}

.btn-create-picking:hover {
    transform: rotate(224deg);
}