.info-sale-order{
    margin: 5px 20px 5px 5px;
    padding: 8px 5px 25px 25px;
    background: linear-gradient(to bottom right, var(--component), #e0e0ec63);
    border-radius: 25px;
    box-shadow: 0px .5px .5px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.info-sale-order div{
    margin-top: 30px;
}

.info-sale-order div *{
    margin-top: 10px;
}

.col-inp *{
    display: block;
    width: 85%;

    padding-left: 10px;
    border-radius: 5px;
    border: none;
    height: 4vh;
}

.col-inp *:focus{
    outline: none;
}

.col-inp *:hover{
    cursor: auto;
}

.info-sale-order h4{
    position: absolute;
    margin-left: 2%;
}