.content-alert-credential-error{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}



@media (max-width: 450px) {
    .content-alert-credential-error{
        width: 100%;
    }
}