
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--very-white);
    z-index: 100;
    transition: all 0.5s ease;
    border-radius: 0px 20px 20px 0px;
    z-index: 10;
  }

  .sidebar.close{
    width: 78px;
    
  }

  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }