:root {
    --primary-color: #5856e9;
    --very-white: #f3eef5;
    --component: #e6e4f5;
    --very-like-pink: #f3b4c1;
}

.picking-control {
    display: grid;
    grid-template-columns: 60% 40%;

    margin: 10px;
    height: 50%;
}