input {
    width: 60%;
    height: 4vh !important;
    margin-top: 4px;
    border-radius: 8px;
    border: solid 1px white;
}

.inp-login input {
    width: 90%;
    height: 6vh !important;
    margin-top: 4px;
    border-radius: 8px;
    border: solid 1px white;
    letter-spacing: 2px;
}

h1 {
    font-size: 35px;
}

.contain-form-login .btn-wms {
    margin-top: 8px;
    width: 50% !important;
    height: 35px !important;
}

.contain-check-remember-cerdentials {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 20px;
}


.contain-check-remember-cerdentials .checkbox-remember-credentials {
    width: 18px;
    margin-right: 8px;
}

.inp-login {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.inp-login input {
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.btn-login {
    background-color: var(--very-like-pink);
    color: var(--very-white);
    margin-left: auto;
    margin-right: auto;
}

.forgot-pass:hover {
    cursor: pointer;
}

.footer-login {
    width: 75%;
    font-size: 12px;
    color: var(--very-like-pink);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.footer-login span:hover {
    cursor: pointer;
}

@media (max-width: 450px) {
    h1 {
        font-size: 32px;
    }

    h3 {
        font-size: 20px;
        margin-top: 24px;
    }

    .inp-login {
        width: 100%;
    }

    .inp-login input {
        height: 5vh;
    }
}