:root {
    --primary-color: #5856e9;
    --very-white: #f3eef5;
    --component: #e6e4f5;
    --very-like-pink: #f3b4c1;
}

.ref-request{
    width: 97%;
    height: 40vh;
    min-height: 40vh;
    margin: 1vh 0px 0px 0px;
    padding: 15px;
    background: linear-gradient(to bottom right, var(--component), #e0e0ec63);
    border-radius: 25px;
    box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.2);
}

.ref-admin {
    width: 97%;
    height: 55vh;
    min-height: 40vh;
    margin: 2vh 0px 0px 0px;
    padding: 15px;
    background: linear-gradient(to bottom right, var(--component), #e0e0ec63);
    border-radius: 25px;
    box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.2);
}

.headers-list-ref {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.ref-list {
    padding: 15px;
    background-color: var(--very-white);
    width: 100%;
    height: 28vh;
    margin: 15px auto 0px auto;
    border-radius: 25px;
    box-shadow: 0px 1.5px 1.5px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.ref-list::-webkit-scrollbar {
    width: 7px;
    display: none;
}

.ref-list::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.inp-set-ref{
    width: 50%;
}

.inp-set-cant{
    width: 25%;
    margin-left: 8px;
}

.inp-ref{
    display: inline;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
}

.inp-ref:focus{
    outline-color: var(--primary-color);
}

.btn-pack{
    background-color: var(--very-like-pink);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #FAFAFA;
    display: block;
    align-items: center;
    height: 40px;
    z-index: 1;
    transition: all .2s;
}

.btn-pack:hover{
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.1);
    transition: all .2s;
}