<span class="text">{{ "modules.picking.title-page" | translate }}</span>

<div class="info-saleorder">
  <app-card-primary [width]="'w-10'" [height]="'h-3'"> </app-card-primary>
  <app-card-primary [width]="'w-9'" [height]="'h-3'"> </app-card-primary>
</div>
<div class="info-picking">
  <app-card-primary [width]="'w-10'" [height]="'h-5'"> </app-card-primary>
  <app-card-primary [width]="'w-9'" [height]="'h-5'">
    <app-card-secondary [width]="'w-9'" [height]="'h-1'"> </app-card-secondary>
  </app-card-primary>
</div>
